div{
    text-align: center;

}
body{
    text-align: center;
    background-color: #6f04fb;
    
   
}
h1{
    font-size: 50px;
    color: white;

}


#one{
    background-color: #0000cf;
    margin: 0%;
    padding: 6px;
}

#two{
    margin: 0%;
    padding: 6px;
    background-color: #2d2dff;
}
#three{
    margin: 0%;
    padding: 6px;
    background-color: #4e4eff;
}
#four{
    margin: 0%;
    padding: 6px;
    
    background-color: #7373ff;
}
#five{
    margin: 0%;
    padding: 6px;
    
    background-color: #9191ff ;
}
#six{
    margin: 0%;
    padding: 6px;
    
    background-color: #a7a7ff;
}
#seven{
    
    margin: 0%;
    padding: 6px;
    background-color: #00aa5b;
}
#eight{
    
    margin: 0%;
    padding: 6px;
    background-color: #f4a7d6;
}
#nine{
    
    margin: 0%;
    padding: 6px;
    background-color: #f28de1;
}
#ten{
    
    margin: 0%;
    padding: 6px;
    background-color: #ff7acc;
}
#eleven{
    
    margin: 0%;
    padding: 6px;
    background-color: #fd54bc;
}
#twelve{
    
    margin: 0%;
    padding: 6px;
    background-color: #fa29aa;
}
#thirteen{
    
    margin: 0%;
    padding: 6px;
    background-color: #ff009d;
}
#fourteen{
    
    margin: 0%;
    padding: 6px;
    background-color: #ca347a;
}